@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.slide-top {
    animation: toTop 0.8s ease 0s 1;
}

@keyframes toTop {
    0% {
      opacity: 0;
      transform: translate3d(0px, -32px, 0px);
    }
    100% {
      opacity: 1;
      transform: initial;
    }
}
